In [5]:
a=5
print(a)
print(type(a))

5
<class 'int'>

In [6]:
f=1.8
print(f)
print(type(f))

1.8
<class 'float'>

In [8]:
s="hello"
print(s)
print(type(s))

hello
<class 'str'>

In [9]:
b=True
print(b)
print(type(b))

True
<class 'bool'>

In [12]:
c=5+2j
print(c)
print(type(c))

(5+2j)
<class 'complex'>

In [13]:
a=5
b=10
sum=a+b
print(sum)

15

In [14]:
a=5
b=10
diff=a-b
print(diff)

-5

In [15]:
a=5
b=10
mul=a*b
print(mul)

50

In [18]:
a=5
b=10
div=b//a
print(div)

2

In [19]:
a=5
b=10
div=b/a
print(div)

2.0

In [20]:
a=5
b=10
mod=b%a
print(mod)

0

In [23]:
a=5
b=10
pow=a**b
print(pow)

9765625

In [24]:
T=True
F=False
print(T,F)

True False

In [25]:
p = 5 > 3
print(p)

True

In [26]:
q = -1 < -12.5
print(q)

False

In [27]:
print(p and q)

False

In [28]:
print(p or q)

True

In [29]:
print(not q)

True

In [30]:
s="hello"
u="hello"
print(s)
print(u)

hello
hello

In [33]:
s1="Hello"
s2="World"
s3=s1+" "+s2
print(s3)

Hello World

In [35]:
s3="%s %s %d"%(s1,s2,1011)
print(s3)

Hello World 1011

In [36]:
print(len(s3))

16

In [38]:
print(s3.upper())

HELLO WORLD 1011

In [39]:
print(s3.capitalize())

Hello world 1011

In [40]:
print(s3.lower())

hello world 1011

In [44]:
print("Hello world how are you")
print("Hello world how are you".split())

Hello world how are you
['Hello', 'world', 'how', 'are', 'you']

In [45]:
print("book".replace("o","e"))

beek

In [47]:
word="jewellery"
print(word.find("well"))
print(word.find("is"))

2
-1

In [49]:
number=int(input("Enter the number: "))
if number > 99 and number < 1000:
    print('3 digit')

else:
    print('Not 3 digit')

Enter the number: 100
3 digit

In [53]:
response = input("Are you familiar with python?")

if response.upper() == "YES":
    print("You can skip this course") 
    
elif response.upper() == "NO":
    print("You are at the right place!") 
    
else:
    print("Sorry wrong input!")

Are you familiar with python?no
You are at the right place!

In [57]:
for x in range(10):
    print(x,end=" ")

0 1 2 3 4 5 6 7 8 9

In [59]:
limit = int(input("Enter a limit : ")) 
sum = 0
for i in range(1, limit + 1): 
    if i % 2 != 0:
        sum += i

print("Odd sum = "+str(sum))

Enter a limit : 5
Odd sum = 9

In [60]:
print(list(range(10)))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [61]:
print(list(range(1,10)))

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [62]:
print(list(range(1,10,2)))

[1, 3, 5, 7, 9]

In [64]:
number = int(input("Enter number : ")) 
s = 0
while number > 0 :
    s += number%10
    number = number//10
    
print(s)

Enter number : 1254
12

In [4]:
limit = int(input("Enter number : "))
for num in range(2,limit+1):
    is_divisible = False
    k=2
    while k <= num//2 :
        if num % k == 0:
            is_divisible=True
            break;
        k += 1
    if not is_divisible:
        print(num,end=' ')

Enter number : 40
2 3 5 7 11 13 17 19 23 29 31 37

In [5]:
mylist = ['a','b', 1, 1.2, True]
print(mylist)

['a', 'b', 1, 1.2, True]

In [6]:
mylist.append('new')

print(mylist)

['a', 'b', 1, 1.2, True, 'new']

In [7]:
print(mylist.pop())

new

In [8]:
mylist.insert(2,'new')
print(mylist)

['a', 'b', 'new', 1, 1.2, True]

In [9]:
mylist.remove('new')

print(mylist)

['a', 'b', 1, 1.2, True]

In [10]:
b = [1,2,3]

mylist.append(b)
print(mylist)

['a', 'b', 1, 1.2, True, [1, 2, 3]]

In [11]:
mylist.remove(b)

print(mylist)

['a', 'b', 1, 1.2, True]

In [12]:
mylist.extend(b)

print(mylist)

['a', 'b', 1, 1.2, True, 1, 2, 3]

In [13]:
a = [2,3,1,4,5]

a.sort()

print(a)

[1, 2, 3, 4, 5]

In [14]:
print(list('hello'))

['h', 'e', 'l', 'l', 'o']

In [17]:
numbers=[1,2,3,4,5,6,7,8,9,10,11,12,13,14]
print(numbers[1],numbers[-1])

2 14

In [18]:
sliced = numbers[5:11]

print(sliced)

[6, 7, 8, 9, 10, 11]

In [19]:
sliced = numbers[5:]
print(sliced)

[6, 7, 8, 9, 10, 11, 12, 13, 14]

In [20]:
sliced = numbers[:7]
print(sliced)

[1, 2, 3, 4, 5, 6, 7]

In [21]:
sliced = numbers[-2:]

print(sliced)

[13, 14]

In [22]:
numbers = list(range(1, 8))

print(numbers)

[1, 2, 3, 4, 5, 6, 7]

In [23]:
square = []

for i in numbers:

    square.append(pow(i,2))

print(square)

[1, 4, 9, 16, 25, 36, 49]

In [24]:
square = [x**2 for x in numbers]

print(square)

[1, 4, 9, 16, 25, 36, 49]

In [25]:
odd_square =[x**2 for x in numbers if x%2 != 0]

print(odd_square)

[1, 9, 25, 49]

In [26]:
A = [4,6,8,9]

AxA = [(a,b) for a in A for b in A if a!=b]

print(AxA)

[(4, 6), (4, 8), (4, 9), (6, 4), (6, 8), (6, 9), (8, 4), (8, 6), (8, 9), (9, 4), (9, 6), (9, 8)]

In [27]:
person = {'name' : 'Manu', 'age': 28}
print(person['name'])

Manu

In [28]:
print('name' in person)

True

In [29]:
print('sex' in person)

False

In [30]:
person['sex'] = 'male'

print(person)

{'name': 'Manu', 'age': 28, 'sex': 'male'}

In [31]:
for item in person:
    print(item,person[item])

name Manu
age 28
sex male

In [32]:
for (key,value) in person.items():

    print(key.capitalize(),'\t:\t', value)

Name 	:	 Manu
Age 	:	 28
Sex 	:	 male

In [33]:
print(person.keys())

dict_keys(['name', 'age', 'sex'])

In [34]:
t1 = (1,2,3)

t2 = 4,5,6

print(t1,t2)

(1, 2, 3) (4, 5, 6)

In [35]:
t3 = t1 +t2
print(t3)

(1, 2, 3, 4, 5, 6)

In [36]:
lt = tuple(['a','b','c','d']) 
print(lt)

('a', 'b', 'c', 'd')

In [37]:
lt[2] = 'x'

TypeError: 'tuple' object does not support item assignment

In [38]:
s = (3)

print(type(s))

<class 'int'>

In [39]:
s = (3,)

print(type(s))

<class 'tuple'>

In [40]:
s = {1,2,3}

print(s,type(s))

{1, 2, 3} <class 'set'>

In [41]:
fset = {"apple", "banana", "cherry"}
fset.remove("banana")

print(fset)

{'cherry', 'apple'}

In [42]:
fset = {"apple", "banana", "cherry"}
fset.discard("banana")

print(fset)

{'cherry', 'apple'}

In [43]:
fset = {"apple", "banana", "cherry"}
fset.clear()

print(fset)

set()

In [45]:
set1 = {"a", "b" , "c"} 
set2 = {1, 2, 3}

set3 = set1.union(set2)

print(set3)

{1, 'c', 'a', 'b', 2, 3}

In [46]:
x = {"apple", "banana", "cherry"}

y = {"google", "microsoft", "apple"}

z = x.intersection(y)
print(z)

{'apple'}

In [47]:
lst = [1,2,3,4,5,5,5,7,6]

myset = list(set(lst))
print(myset)

[1, 2, 3, 4, 5, 6, 7]

In [48]:
def twice(number):
    return 2*number

t = twice(5)
print(t)

10

In [50]:
def isPrime(number):

    for factor in range(2, (number//2)+1):
        if number%factor == 0:
            return False

    return True

number = int(input('Enter the number '))
print(isPrime(number))

Enter the number 2
True

In [51]:
def printPrimes(llimit, ulimit):

    for num in range(llimit, ulimit + 1):

        if isPrime(num) == True:

            print(num, end = ' ')

printPrimes(5,50)

5 7 11 13 17 19 23 29 31 37 41 43 47

In [52]:
def swap(x,y):
    t = x
    x = y
    y = t
    return x,y

a=5
b=7

a,b = swap(a,b)
print(a,b)

7 5

In [55]:
class Adder:
    def init (self):
        self.x = 0
        self.y = 0


    def setValues(self, x, y):
        self.x = x
        self.y = y

    def calculate(self1):
        self1. sum = self1.x + self1. y

    def getSum(self): 
        return self.sum
adder =Adder()
adder.setValues(5,4)
adder.calculate()
print(adder.getSum())

9